<header class="text-black bg-gray-200">
  <div class="w-xl m-auto py-2">
    <div class="flex justify-end align-middle">
      <h1 class="flex-grow"><a href="/">MLB HeatIDX</a></h1>
      <a href="/teams">Teams</a>
      <a href="/about">About</a>
    </div>
    <div class="team-links">
      <a href="/teams#ATH">ATH</a>
    </div>

  </div>
</header>